body {
    margin: 20px;
}
.img {
    width: 150px;
}
.card {
    width: 400px; 
    margin:0px auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background-color: #ddebf8;
    color: #2b2839;
    border-bottom: 5px solid #d8cefe;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}